
  {{#each offers}}
    <div class='offer-item'>
      <div class='more-button' data-id='{{offerId}}'>Ознакомиться с предложением</div>
      <img class='offer-cover' src='{{imageURL}}'>
      <div class='offer-info'>
        <div class='theme'>{{title}}</div>
        <div class='info-text tag'>{{topic}}</div>
        <div class='info-text date'>{{actualTime}}</div>
        <div class='info-text location'>{{location}}</div>
        <div class='counters'>
          <span class='likes'>{{#if likes.length}} {{likes.length}} {{else}} 0 {{/if}} нравится</span>
          <span class='added'>{{#if added.length}} {{added.length}} {{else}} 0 {{/if}} добавили себе</span>
        </div>
      </div>
      <div class='offer-comment-block'>
        <img class='offer-author' src='{{author.userImage}}'>
        <div class='author'>
          <span class='name'>{{author.fullName}}</span>
          <span>предлагает</span>
        </div>
      </div>
    </div>
  {{/each}}
